@model MVCIdentityExample.ViewModels.UpdatePasswordViewModel

<h2>Change password</h2>
<form mathod="post" asp-action = "UpdatePassword" asp-controller = "User">
     <div asp-vallidation-summary=All></div>
     <input tupe="hidden" asp-for = "Id">
     <input tupe="hidden" asp-for = "Email">
     <label asp-for = "NewPassword">New Password</label>
     <input type="text" asp-for = "NewPassword" />
    <input type = "submit" value = "Save"/>
</form>